@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

$primary: rgb(95, 6, 6);
$base: #000;
$white: #fff;


p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    font-family: 'Poppins', sans-serif;
}